# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env/
.venv/
.venv311/
owr-sheets-service-account.json

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db
.wrangler/

# OS files
.DS_Store
Thumbs.db
